.skill-button {
    margin: 5px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.skill-button:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: red !important; /* Overrides the random background color on hover */
}

.skill-remove {
    cursor: pointer;
    margin-left: 5px;
}
html, body {
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
#main {
    flex: 1;
}
  
.footer {
  margin-top: auto;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: end; /* Align items to the right */
  margin-right: 20px; /* Adjust as needed */
}

/* Style for the title */
.skill-title {
  margin-bottom: 10px; /* Space between the title and the button */
  color: #333; /* Adjust the color as needed */
}

/* Download button specific styles */
.download-button {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  background-color: #007bff; /* Bootstrap primary color, adjust as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3; /* Darker shade for hover, adjust as needed */
}

.unmatchedskills {
    height: 300px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrollbar */
    padding: 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a border */
}

  /* Custom scrollbar styles */
.unmatchedskills::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}
  
.unmatchedskills::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

.dashboard .info-card h6 {
  font-size: 25px;
}
.sponsorshipcss{
  font-size: 25px;
  color: #2eca6a;
  background: #e0f8e9;
}

.status-select:hover, .page-button:hover {
  cursor: pointer;
}

.notification {
  position: fixed;
  right: 20px;
  top: 50px; /* Adjust this value to control how low the pop-out appears */
  /* color: white; */
  padding: 10px 20px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it's above other content */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a shadow for better visibility */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for pop effect */
  transform: translateX(100%); /* Start hidden to the right */
  opacity: 0;
}

/* Additional class to apply for showing the notification */
.notification-show {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

/* Animation for fading in and out */
@keyframes fadeOut {
  to { opacity: 0; }
}

.fade-out {
  animation: fadeOut 3s forwards;
}

.dropdown-button {
  /* Default state */
  background-color: #f9f9f9;
  color: black;
}

.dropdown-button:hover, .dropdown-button:focus {
  /* Hover or focus state */
  background-color: #ddd;
  color: black;
}
