{% extends 'index.html' %}

{% block sidebar %}
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ '/my-resume' }}">
                <i class="bi bi-grid"></i>
                <span>My Resume</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading">Features</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ '/get-insights' }}">
                <i class="ri ri-bar-chart-box-line"></i>
                <span>Job Analysis</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link" href="{{ '/job-applications' }}">
                <i class="ri-article-line"></i>
                <span>My Applications</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ '/job-desc' }}">
                <i class="bx bx-scan"></i>
                <span>Scan Job Description</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ '/contact-us' }}">
              <i class="bi bi-envelope"></i>
              <span>Contact</span>
            </a>
          </li><!-- End Contact Page Nav -->

    </ul><!-- End Sidebar Nav -->
</aside>
{% endblock %}

{% block content %}

{% if user %}

<div class="pagetitle">
    <h1>Job Tracker</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">My Applications</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Applications</h5>
                    <!-- Pagination Controls -->
                    <!-- <div class="filter-section"> -->
                        <select id="statusFilter" type="button" class="btn btn-light mb-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option value='all'>All</option>
                            {% for status in statuses %}
                                <option value='{{ status.value }}'>{{ status.value }}</option>
                            {% endfor %}
                        </select>
                        <button onclick="downloadAppliAsCSV()" class="btn btn-light mb-2">
                            <i class="bi bi-arrow-down-circle"></i> Download Data
                        </button>
                    <!-- </div> -->
                    <table class="table" id="jobapptable">
                        <thead>
                            <tr>
                                <th scope="col">Application Date</th>
                                <th scope="col">Application Link</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Job Description</th>
                                <th scope="col">Job Title</th>
                                <th scope="col">Status</th>
                                <!-- Assuming ID column is not meant to be displayed to the user -->
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            <tr>
                               
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center" id="pagination">
                        </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<script>
    var data = {{ data | tojson | safe }};
    var statuses = {{ statuses | tojson | safe }};
</script>
<script src="/staticfiles/assets/js/job-applications.js"></script>

{% else %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-octagon me-1"></i>
    You are not logged in, please login to get your data.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% endblock %}