{% extends 'index.html' %}

{% block sidebar %}
<aside id="sidebar" class="sidebar">
<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link" href="{{ '/my-resume' }}">
      <i class="bi bi-grid"></i>
      <span>My Resume</span>
    </a>
  </li><!-- End Dashboard Nav -->

  <li class="nav-heading">Features</li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="{{ '/get-insights' }}">
      <i class="ri ri-bar-chart-box-line"></i>
      <span>Job Analysis</span>
    </a>
  </li><!-- End Contact Page Nav -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="{{ '/job-applications' }}">
      <i class="ri-article-line"></i>
      <span>My Applications</span>
    </a>
  </li>


  <li class="nav-item">
    <a class="nav-link collapsed" href="{{ '/job-desc' }}">
      <i class="bx bx-scan"></i>
      <span>Scan Job Description</span>
    </a>
  </li><!-- End Profile Page Nav -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="{{ '/contact-us' }}">
      <i class="bi bi-envelope"></i>
      <span>Contact</span>
    </a>
  </li><!-- End Contact Page Nav -->

</ul><!-- End Sidebar Nav -->
</aside>
{% endblock %}

{% block content %}

<div class="pagetitle">
  <h1>Upload Your Resume To Get Rolling. . .</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ '/' }}">Home</a></li>
      <li class="breadcrumb-item active">My Resume</li>
    </ol>
    <form method="post" id="uploadForm" enctype="multipart/form-data">

      <div class="row mb-3">
        <div class="col-sm-5">
          <input class="form-control" action="/parse-pdf" type="file" id="formFile" name="pdf_file" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Upload Your Resume">
        </div>
        <div class="col-sm-3">
          <button type="submit" id="submit" class="btn btn-outline-success">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" hidden></span>
            <i class="bi bi-arrow-up col-sm-3" id="uploadarrow"></i> Upload
          </button>
        </div>
        </button>
      </div>
    </form>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><span class="badge border-secondary border-1 text-secondary">Resume: </span><span class="badge border-success border-1 text-success resumename">-</span></li> 
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row" id="pdfpreviewdiv" hidden>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" id="uploadedResumeTitle">Uploaded Resume</h5>
            <div class="row-mb-3">
              <iframe id="pdfPreview" style="width:100%; height:500px;" type="application/pdf"></iframe>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" id="skills">
      <div>
        <div class="card-body" id="skillsdownload">
          <div>
          <button onclick="getSkills()" class="btn btn-outline-info extractskillsbutton">
            Extract Skills
          </button>
          <button onclick="downloadSkillsAsCSV()" class="btn btn-outline-primary" id="downloadcsv" hidden>
            <i class="bi bi-arrow-down col-sm-3"></i> Download
          </button>
        </div>
            <div class="row-mb-3" id="extractedSkills"></div>
      </div>
    </div>
  </div>
</section>

<script src="/staticfiles/assets/js/resume-parser.js"></script>
{% endblock %}